<a class="mdc-list-item" href="" aria-current="page" id="list_{{this.id}}">
    <span class="mdc-list-item__text">{{this.properties.name}}</span>
    <span class="mdc-list-item__meta">
        <span class="material-icons" aria-hidden="true">edit</span>
        <span class="material-icons" aria-hidden="true">delete_outline</span>
    </span>
</a>