<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Erre jártam - Admin felület</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body class="mdc-typography">
    <header class="mdc-top-app-bar mdc-top-app-bar--dense app-bar" id="app-bar" data-mdc-auto-init="MDCTopAppBar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <i class="material-icons mdc-top-app-bar__navigation-icon">beenhere</i>
                <span class="mdc-top-app-bar__title">
                    Erre jártam - <small>{{routeId}}</small>
                </span>
                {{!-- <div class="mdc-select mdc-select--outlined mdc-select--no-label" data-mdc-auto-init="MDCSelect">
                    <div class="mdc-select__anchor demo-width-class">
                        <i class="mdc-select__dropdown-icon"></i>
                        <div class="mdc-select__selected-text"></div>
                        <span class="mdc-floating-label">Pick a Food Group</span>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
                        <ul class="mdc-list">
                            <li class="mdc-list-item mdc-list-item--selected" data-value="" aria-selected="true"></li>
                            <li class="mdc-list-item" data-value="grains">
                                Bread, Cereal, Rice, and Pasta
                            </li>
                            <li class="mdc-list-item" data-value="vegetables">
                                Vegetables
                            </li>
                            <li class="mdc-list-item" data-value="fruit">
                                Fruit
                            </li>
                        </ul>
                    </div>
                </div> --}}
                <a class="material-icons mdc-icon-button" href="/{{routeId}}" target="_blank" aria-label="Download">open_in_new</a>
            </section>
            {{!-- <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Download">file_download</button>
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Print this page">print</button>
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Bookmark this page">bookmark</button>
                <span>{{user.name}}</span>
            </section> --}}
        </div>
    </header>
    <aside class="mdc-drawer mdc-top-app-bar--dense-fixed-adjust">
        <div class="mdc-drawer__content">
            <div class="action-buttons">
                <div class="action-buttons-heading">Routes: </div>
                <div>
                    <button type="button" class="mdc-icon-button material-icons" title="Add point">add_location</button>
                    <button type="button" class="mdc-icon-button material-icons" title="Add line">timeline</button type="button">
                    <button type="button" class="mdc-icon-button material-icons" title="Add route">directions</button type="button">
                    <button type="button" class="mdc-icon-button material-icons" title="Load from file">map</button type="button">
                </div>
            </div>
            <div class="search-container" {{#unless searchDisplay}}style="display:none"{{/unless}}>
                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon" data-mdc-auto-init="MDCTextField">
                    <input type="text" id="route-search" class="mdc-text-field__input" autocomplete="false">
                    <div class="mdc-notched-outline" data-mdc-auto-init="MDCNotchedOutline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="route-search" class="mdc-floating-label">Search</label>
                            <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
            </div>
            <div id="route-list" class="mdc-list" data-mdc-auto-init="MDCList">
            </div>
            <div class="edit-route" style="display: none;">
                <input type="text" name="RouteName">
                <input type="text" name="Distance">

                    <div class="edit-route">
                        <form>
                            <div class="form-group mt-3">
                                <button id="AddRoute" type="button" class="btn btn-sm btn-outline-secondary">Add new route</button>
                                <h5 style="display: none;">To add new route click on the map the start and end point.
                                </h5>
                            </div>
                            <div class="form-group">
                                <label for="Name">Route name:</label>
                                <input type="text" id="Name" name="Name" class="form-control" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="RouteTypeSelect">Route type:</label>
                                    <select id="RouteTypeSelect" class="form-control">
                                        <option value="Road">Road</option>
                                        <option value="Air">Air</option>
                                        <!-- <option value="RailRoad">Train</option>
                                    <option value="Water">Ship/boat</option> -->
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label for="RouteDistance">Route distance:</label>
                                    <input class="form-control" id="RouteDistance" type="text" readonly required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <button id="SaveRoute" type="button" class="btn btn-sm btn-outline-primary btn-block">Save</button>
                                </div>
                                <div class="form-group col-3">
                                    <button id="CancelEditMode" type="button" class="btn btn-sm btn-outline-secondary btn-block">Cancel</button>
                                </div>
                                <div class="form-group col-3">
                                    <button id="RestartRouteDefinition" type="button" class="d-none btn btn-sm btn-outline-warning btn-block">Restart</button>
                                </div>
                            </div>
                        </form>
                    </div>

            </div>
        </div>
    </aside>

    <div class="mdc-drawer-app-content mdc-top-app-bar--dense-fixed-adjust">
        <main class="main-content" id="map"></main>
    </div>

    <div id="map-buttons" class="map-buttons" style="display: none;">
        <div>
            <i class="material-icons mdc-button__icon" aria-hidden="true" title="Add point">add_location</i>
            <i class="material-icons mdc-button__icon" aria-hidden="true" title="Add line">timeline</i>
            <i class="material-icons mdc-button__icon" aria-hidden="true" title="Add route">directions</i>
            <i class="material-icons mdc-button__icon" aria-hidden="true" title="Load from file">map</i>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/editor.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{googleMapsKey}}&callback=initMap"></script>
</body>

</html>