<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Erre jártam - Admin felület</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/edit.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="left-container">
            <header class="mdc-top-app-bar mdc-top-app-bar--dense app-bar" id="app-bar">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <a href="#" class="demo-menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
                        <span class="mdc-top-app-bar__title">Dismissible Drawer</span>
                    </section>
                </div>
            </header>
            <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
                <main class="main-content" id="main-content">
                    <form method="POST" action="/edit/L1dHZ6kgHfAzhzkkm25Z/createFromKml" enctype="multipart/form-data">
                        <input type="file" name="kmlInput" />
                        <input type="submit" >Upload</input>
                    </form>
                </main>
            </div>
        </div>
        <div class="col" id="map">
            This is the map
        </div>
    </div>

    <script>
            const topAppBar = window.mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
            topAppBar.setScrollTarget(document.getElementById('main-content'));
            topAppBar.listen('MDCTopAppBar:nav', () => {
                drawer.open = !drawer.open;
            });
    </script>
</body>

</html>